.panel-heading {
	margin-top: 0;
}

.navbar-default {
	border-color: black;
}

.nav-pills-custom>li>a {
	color: white;
}

.nav-pills-custom>li>a:focus,
.nav-pills-custom>li>a:hover {
	background: none;
	color: white;
}

.panel-custom>.panel-heading {
	background: none;
	border-bottom: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .btn-primary{
	background-color: #1f2328;
}

.form-control-nav{
	background-color:#1f2328;
  border: lightgrey solid 1px;
	border-radius:15px;
}
body{
	background-color: #262b33;
	color: #c3c8d1;
}
.navbar-default .navbar-collapse, .navbar-default{
background-color: #1f2328;
}
.panel-footer{
	background-color: lightcyan;
}
.well{
	background-color: lightcyan;
}

.panel-info>.panel-heading {
	background-color: #1f2328;
	color: #c3c8d1;
	border-bottom: 1px solid black;
}

div.panel-heading{
	padding-top:3px;
	padding-bottom: 0px;
}
.form-control-feedback{
	line-height:27px;
}

.panel{
	background-color: #1f2328;
	border: 1px solid black;
}

button {
	margin-right: 5px;
}

.leftbutton {
	margin-right: -4px;
	border-radius: 4px 0 0 4px !important;
}

.middlebutton {
	margin-right: -4px;
	margin-left: -4px;
	border-radius: 0 !important;
}

.middlebutton:nth-last-of-type(2) {
	margin-right: -8px;
}

.rightbutton {
	border-radius: 0 4px 4px 0 !important;
}

.btn {
	border: none;
}

.btn-primary {
	background-color: #e16428;
}

.btn-primary:hover {
	background-color: #ff580a;
}

.btn-info {
	background-color: #36622b;
}

.btn-info:hover {
	background-color: #36971e;
}

#drag-1, #drag-2 {
  width: 25px;
  height: 15px;
  background-color: #29e;
  color: white;
  user-select: none;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  position: absolute;
  left:0;
  top:0;
  z-index:10;
}

.hr-composer {
  border-top: 1px solid black;
}

.composer-table-container {
  padding: 10px;
	margin-bottom: 5px;
  background-color: #151515;
  border-radius: 4px;
	display: inline-block;
}

.composer-table {
  background-color: #474747;
  padding: 5px 5px 5px 5px;
}

.composer-table td {
  border: 1px solid black;
  height: 15px;
  width: 25px;
  background-color: #474747;
  transition: border .1s;
}

.composer-table td:nth-child(4n+1) {
  border-right: 3px solid black !important;
}

.composer-table-display {
  background-color: #474747;
  border: 1px solid black;
  /* margin-bottom: 10px; */
}

.composer-table-display:last-of-type {
	margin-bottom: 10px;
}

.composer-table-display td {
  border: 1px solid black;
  height: 3px;
  width: 25px;
  background-color: #474747;
  /* transition: height .5s; */
}

.composer-table-display td:nth-child(4n+1) {
  border-left: 3px solid black !important;
}

/* .composer-table-display:hover td {
  height: 15px;
} */

.active-cell.q-1 {
  background-color: #0080FF !important;
  border-radius:7px;
}

.active-cell.q-2, .active-cell.q-3, .active-cell.q-4 {
	background-color: #0080FF !important;
	border-radius: 7px 0 0 7px;
	border-right: none !important;
}

.active-cell.q-2+td, .active-cell.q-3+td, .active-cell.q-4+td, .active-cell.q-4+td+td {
	background-color: #66B3FF !important;
	border-left: none !important;
	border-right: none !important;
}

.active-cell.q-2+td, .active-cell.q-3+td+td, .active-cell.q-4+td+td+td {
	border-radius: 0 7px 7px 0;
	background-color: #66B3FF !important;
	border-left: none !important;
}

.octave-button {
	visibility: hidden;
	height: 0;
	width: 0;
}

.octave-button:checked + label {
	background-color: #36622b;
}

.composer-table-container label {
  text-align: center;
  cursor: pointer;
  background-color: #454545;
  color: white;
  border-radius: 4px;
}

.dropdown-menu {
	max-height: 200px;
	overflow: auto;
}

.infobutton {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: grey;
	color: white !important;
}

.num-input {
	width: 70px;
	border-radius: 0 4px 4px 0;
	display: inline-block;
	height: 31px;
	margin-bottom: 0;
	vertical-align: middle;
}

.title-input {
	border-radius: 0 4px 4px 0;
	display: inline-block;
	width: 200px;
	height: 31px;
	margin-bottom: 0;
	vertical-align: middle;
}

.people-table {
	background-color: black;
	border-radius: 7px;
}
